div#dia-preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    transition: 0.7s;
    background: white;
}
.osama {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    color: transparent;
-webkit-text-stroke: 1px rgb(12, 70, 196);
    font-family: 'Fredoka One', cursive;
}
.active{
    opacity: 0;
    z-index: -1 !important;
}
h1{
text-align: center;
font-family: 'Fredoka One', cursive;
font-size: 40px;
position: absolute;
transform: translate(-50%,-50%);
top: 45%;
left: 50%;
}
.osama:nth-child(2){
color: rgb(12, 70, 196);
clip-path: polygon(1% 48%, 18% 45%, 40% 46%, 56% 55%, 69% 61%, 80% 65%, 94% 70%, 100% 99%, 1% 99%);
animation: web 4s ease-in-out infinite;
}

@keyframes web {
    0%,100% {
        clip-path: polygon(0 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0 100%);
    }

}